body {
    font-family: Helvetica, sans-serif;
    background-color: #74d28a;
    margin: 2; 
    padding: 0; 
}

.top-bar {
    background-color: #4c4747; 
    color: #fcf9f9; 
    text-align: center;
    padding: 10px 0; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body::before {
    content: '';
    display: block;
    height: 50px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    color: #991515;
}

header h1 {
    color: #ffffff; 
    margin: 20px;
}

.banner {
    background-color: #f5b348; 
    padding: 20px;
    border-radius: 10px; 
    margin: 20px auto;
    display: inline-block;
    color: #fff; 
    font-weight: bold;
}

.plans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.plan {
    border: 1px solid #ffffff;
    padding: 20px;
    width: calc(33.333% - 20px);
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px; 
}

.plan h2 {
    color: #991515;
}

button {
    background-color: #a75d28;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

button:hover {
    background-color: #884a22;
}

header h1 {
    color: #ffffff; 
    margin: 20px;
    margin-bottom: 40px; 
}

.banner {
    background-color: #f39c12; 
    padding: 20px;
    border-radius: 10px; 
    margin: 20px auto;
    display: inline-block;
    color: #fff; 
    font-weight: bold;
    margin-top: 0;
}